.App {
  text-align: left;
}

.container {
  padding: 0;
}

.bottom-left {
  position: absolute;
  bottom: 50px;
  left: 16px;
  padding: 5px;
  width: 70%;
}

.effect {
  overflow: hidden;
}

.effect img {
  overflow: hidden;
  transition: all 1.5s ease;
}

.effect:hover img {
  transform: scale(1.5);
}

body {
  background-color: #F8F9FA;
}

a {
  color: rgb(129, 117, 117) !important;
}

.guide:hover {
  /* color: rgb(129, 117, 117) !important; */
  color: #FD5D31 !important;
}
.navbar {
  background-color: #FD5D31 !important;
}

.jumbo {
  background-color: #FD5D31 !important;
}


.newsletter .content {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: rgb(129, 117, 117);
}

@media (min-width: 360px) and (max-width: 768px){
.btmspace {
  margin-bottom: 20px;

}
}